/* Footer fix */

body {
	padding-top:0;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}


#header-wrapper {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.14);
	/*padding-bottom: 30px;*/
}

#content-wrapper {
	padding-bottom:200px;   /* Height of the footer element */
	margin-top: 30px;
}

#footer-wrapper {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	max-height: 200px;
    background: url('../images/footer-back.jpg');
}



/* BASIC */

a:link, a:visited {
	text-decoration:none;
}

ul li {
	list-style:none !important;
}

@font-face {
    font-family: 'opensansSB';
    src: url('../fonts/opensansSB.eot');
    src: url('../fonts/opensansSB.eot') format('embedded-opentype'),
    url('../fonts/opensansSB.woff') format('woff'),
    url('../fonts/opensansSB.ttf') format('truetype'),
    url('../fonts/opensansSB.svg#opensansSB') format('svg');
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot') format('embedded-opentype'),
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.ttf') format('truetype'),
    url('../fonts/opensans.svg#opensans') format('svg');
}


.logo{
	float: left;
	margin-top: 30px;
}

.top-right{
	float: right;
	margin-top: 15px;
}

.login{
	text-align: right;
	margin-bottom: 30px;
}

.login a{
	color: rgba(128, 128, 128, 0.52);
	font-family: opensans;
	font-size: 12px;	
    text-transform: uppercase;
}

.top-right button{
  padding: 5px 5px;
  border: none;
  background: #ededed;
}

.top-right button img{
    max-width: 100%;
    width: 20px;
}

.top-right input{
	border: none;
    background: #ededed;
    padding: 5px 5px 5px 12px;
    width: 240px;
    font-family: opensans;
    font-style: italic;
}

.top-right input:focus{
	outline: none;
}

.menu ul{
	float: right;
    /*width: 230px;*/
}

.menu ul li{
    float: left;
    /*margin-left:65px;*/
    margin-left: 47px;
    color: #474747;
}

.menu ul li:first-child{
  margin-left: 0;
}

.menu li:active a{
	color: #58ae5f;
}

.menu ul li a{
    color: #474747;
    font-family: opensansSB;
    text-transform: uppercase;
    font-size: 12px;
}

.menu ul li a:hover{
	color: #58ae5f;
}

.menu{
    /*margin: 40px 0;*/
    float: left;
    width: 100%;
}
/**content**/

.home-page h4{
	font-family: opensansSB;
	color: #58ae5f;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}

.calender{
    background: #ededed;
    display: block;
    float: left;
    height: 33px;
    width: 33px;
}

.calender img{
    padding: 7px;
}

.add-event{
    background: url(../images/event-back.png) no-repeat;
    padding: 7px 15px;
    height: 37px;
    width: 110px;
    display: block;
    float: left;
    margin-left: 5px;
    color: #58ae5f;
    font-family: opensansSB;
    background-size: 110px;
    font-size: 12px;
}

.event-list img{
	float: left;
    height:64px;
}

.event-title{
	float: left;
	margin-left: 10px;
}

.event-title p{
	margin: 0;
    font-family: opensans;
    color: #474747;
}

.event-list{
    margin-bottom: 20px;
    float: left;
    background: url(../images/event-list-back.png) no-repeat;
    width: 343px;
    height: 92px;
    padding: 8px;
    /* padding-bottom: 33px; */
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: right;
    
}



.rsvp{
    background: #fff;
    padding: 2px 23px;
    font-size: 12px;
    font-family: opensansSB;
    color: #555555;
}

.ticket{
    font-size: 12px;
    background: #58ae5f;
    color: #fff;
    padding: 2px 8px;
    display: inline-block;
    margin-top: 5px;
    font-family: opensansSB;
}

.links{
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 45px;*/
    display: inline-block;
    margin-left: 20px;
}

.calender-event{
	margin: 0px 0 15px;
	float: right;
}

img{
	max-width: 100%;
}

.gallery-title h4{
	font-family: opensansSB;
	color: #555555;
	font-size: 16px;
}

.gallery-title p{
    font-size: 11px;
    line-height: 12px;
}

.gallery-title{
	float: left;
    /*width: 50%;*/
    margin-top: 5px;
}

.gallery-icon{
    float: right;
    /*width: 43%;*/
    margin-top: 15px;
}

.gallery-wrap{
    /*margin: 35px 0;*/
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

/* footer */

.footer-menu li a{
	font-family: opensans;
	color: #f5f5f5;
}

.footer-menu li{
    float: left;
    margin-right: 40px;
}

.footer-menu ul{
    margin: 20px 0;
    float: left;
    padding: 0;}

    .footer-menu p,.contact p{
       font-family: opensans;
       color: #f5f5f5;
       font-size: 10px;	
   }

   .footer-menu{
    float: left;	
}

.fb{
	background: url('../images/social-links.png') no-repeat;
}

.tw{
	background: url('../images/social-links.png') no-repeat -40px 0;
}

.google{
	background: url('../images/social-links.png') no-repeat -88px 0;
}

.yt{
	background: url('../images/social-links.png') no-repeat -132px 0;

}

.social{
    height: 18px;
    width: 18px;
    display: block;
    float: left;	
}
.footer-links{
    float: right;
    margin-top: 20px;
}

.footer-links a{
    margin-left: 15px;
}

.footer-social{
    float: right;
    margin: 0 0 20px 0;
}

.footer-social{
    float: right;
    margin-bottom: 20px;
}

.contact p{
	background: url('../images/ph.png') no-repeat left;
    padding: 0 0 0 20px;
}

/* modal-event */

.modal-title{
	font-family: opensansSB;
	color: #ffb938;
}

.event-detail h6{
	font-family: opensansSB;
	color: #313030;
}

.event-detail p{
	font-family: opensans;
	color: #313030;
    margin-bottom: 25px;
    font-size: 12px;
}

.modal-footer{
	border-top: none; 
}

.modal-header{
	border-bottom: none;
}

.event-detail h5{
    font-family: opensansSB;
    float: left;
}

input[type=number]{
    width: 40px;
    padding-left: 5px;
    margin-left: 10px;
}

.modal-footer a{
    /* background: #ffb938;
    padding: 5px 23px; */
    color: #fff;	
}

.modal-content{
    background-color: rgba(255, 255, 255, 0.94);
}

.close{
	line-height: 0;
	background: #ffb938 !important;
    display: block;
    text-shadow:none;
    opacity: 1; 
    color: #fff;
    height: 20px;
    width: 15px;
    font-size: 26px;
    font-weight: lighter;
    line-height: 0;
}

.close:focus{
	outline: none;
}

.background-image{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  background: rgba(255, 255, 255, 0.85);
  display: block;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-content {
  /*position: fixed;*/
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0);
  margin-right: 20px;
  border: none;
  box-shadow: none;
}

.modal-dialog{
   margin: 70px auto;
}

.map{
	margin-top: 10px;
}

.lb-data .lb-caption{
	font-size: 16px !important;
	font-family:opensansSB; 
	color: #ffb938;
}

.lb-data .lb-close{
	opacity: 1;
}

.band-col {
    background: url(../images/band-back.png);
    height: 363px;
    width: 100%;
    padding: 15px 15px;
    margin-top: 25px;
    /* background-size: 366px; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.band-col p{
	font-family: opensans;
	color: #3c3c3c;
    margin-top: 10px;
}

.band-title h4{
	font-family: opensansSB;
	color: #58ae5f;
}

/*band modal*/

.band-modal{
    float: left;
    width: 100%;	
}

.band-modal h6{
    float: left;
    margin-right: 100px;
    font-family: opensansSB;
}


.img-content p {
    margin-left:5px;
    text-align:left;
}
.img-null img {
    height:250px;
    width: 100%;
}



/*Umanga New */

.home-event-img {
    width: 100%;
    text-align: center;
}

.home-event-img img {
    max-width: 100%;
    height:240px;
}

/*Venu Modal*/
.venue-map {
    float: left;
}

.pad-20 {
    padding-left: 20px;
}

.links a {
    display: block;
}

.cal-gallery a{
    display: inline-block;
    float: left;

}

.event-title{
    width:133px;
}

.form-control {
    margin:10px 0;
}

.contact-title h4{
    color:#58ae5f;
    text-transform: uppercase;
}

.flag-index {
    display: inline-block;
}

.flag-index img {
    height:20px;
}

#paypalView{
    margin-left: 20px;
}

.gallery-head h4{
    margin-bottom: 20px;
}

/* Index banner*/
.bannerSlider {
    height: 500px;
}
.bannerItem{
    height: 500px !important;
    width: 100%;
    background-size: cover;
}

.slick-dotted.slick-slider{
    margin-bottom: 60px;
}

.slick-dots{
    bottom: 20px !important;
}

.banner_section .slick-dots {
    bottom: 32px;
}
.slick-dots li{
/*    border: 0px solid #efefef;*/
    background: #efefef;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    margin-right: 12px;
}


.slick-dots li.slick-active{
    background: #a6a7a8;
}

.slick-dots li button:before{
    content: '';
}