@media only screen and (max-width: 1200px) {
	.links {
		margin-left: 5px;

	}
	.links a {

	}
}

@media only screen and (max-width: 991px) {
	.links {
		margin-left: 5px;
		padding: 0 5px 5px 5px;
		background-color: #B5B5B5;

	}
	.links a {
		display: inline-block;
	}
}

@media only screen and (max-width: 767px){
	.gallery-title {
		float: none;
		text-align: center;
	}

	.gallery-icon {
		float: none;
		margin-top: 30px;
		display: inline-block;
	}
	.gallery-center {
		text-align: center;
	}

	.event-list {
		margin: 0 auto;
		margin-bottom: 35px;
		float:none;

	}
	.event-list-group h4{
		text-align: center;
	}
	.gallery-head {
		text-align: center;
	}

	.calender-event {
		float: none;
		margin: 0 auto;
		width: 200px;
		height: 50px;
	}
}


@media all and (max-width: 475px) {
		.event-title {
		width: 100px;
	}
	
	.links {
		margin-left: 5px;
		padding: 5px;
		background-color: #B5B5B5;
		/* width: 29%; */
		width: 86px;
	}

	.menu ul {
		padding: 0;
	}

	.menu {
		margin-top: 15px;
	}
}