 @media all and (max-width:1288px) {
	.footer-line a{
		font-size:14px;	
	}
	.gig-guide-submit{
		width: 24%;
	}

 }

  @media all and (max-width:1223px) {
	.footer-line li{
		width: auto;
		padding-left: 50px;
	}
	.footer-line a{
		font-size:13px;	
	}
  }
  @media all and (max-width:1197px) {
	.footer-line li {
		width: auto;
		padding-left: 45px;
	}

 
  }
 
  @media all and (max-width:1160px) {
	.footer-line li {
		width:13%;
		padding-left: 0;
	} 
	 }
	
  @media all and (max-width:1118px) {
	.footer-line li {
		width: auto;
		padding-left: 33px;
	}
	
	.gig-guide-submit{
		width: 28%;
	}
  }
	
 @media all and (max-width:1100px) {
	 
	 .dog-and-flair{
		 float: left;
		 margin-bottom: 10px;
	 }
	 
	 .footer-line li a{
		 font-size:12px;
	 }
	 
 }

 @media all and (max-width:1063px) {
	.footer-line li {
		width: auto;
		padding-left: 22px;
	}
 }
 
@media all and (min-width: 900px){
	.navbar-toggle {
		display: none;
	}
}

@media all and (max-width: 900px){
	ul.secondary-menu{
		width: 100%;
	}
	
	.body-menu{
		border:none;	
	}
}


 @media all and (max-width:995px) {
	.footer-line li {
		width: auto;
		padding-left: 25px;
	}

	.header-left{
		width: 265px;
	}
	
	.content-wrap{
		margin-left:270px !important;	
	}
	
	.footer-back{
		padding-left:270px !important;	
	}
 }
 
 @media all and (max-width:960px) {
	.footer-line li {
		width: auto;
		padding-left: 20px;
	} 
	
}

 @media all and (max-width:936px) { 
	.header-left {
		width: 225px;
	}
	.content-wrap {
		margin-left: 230px !important;
	}
	
	.footer-back{
		padding-left: 230px !important;
	}
 }
 @media all and (max-width:920px) { 
 	.search-respo{
		float:right;	
	}
	
	.search{
		 width: auto; 
		 float: none; 
		margin-top: 10px;
	}
	
	.menu{
		padding-top:18px;	
	}
	.gig-guide-submit{
		width: 30%;
	}
 }
 
 @media all and (max-width:847px) { 
	.footer-line li {
		width: auto;
		padding-left: 12px;
	}
	
	.gig-guide-submit{
		width: 37%;
	}
 }
 
 @media all and (max-width:828px) { 
 	.footer-line{
		display:none;	
	}
	
	.dog-and-flair{
		margin-bottom:0;	
	}
	.secondary-menu>li{
		display:none;	
	}
	.secondary-menu{
		border:none;	
	}
 }
 
 
 
 
 